@font-face {
  font-family: "iconfont"; /* Project id 3251973 */
  src: url('iconfont.woff2?t=1647427098611') format('woff2'),
       url('iconfont.woff?t=1647427098611') format('woff'),
       url('iconfont.ttf?t=1647427098611') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.stroll_down:before {
  content: "\e657";
}

.stroll_tick:before {
  content: "\e658";
}

.stroll_up:before {
  content: "\e659";
}

.stroll_fork:before {
  content: "\e65a";
}

.stroll_bell:before {
  content: "\e637";
}

.stroll_eye_close:before {
  content: "\e638";
}

.stroll_transmit:before {
  content: "\e639";
}

.stroll_left:before {
  content: "\e63a";
}

.stroll_muted:before {
  content: "\e63b";
}

.stroll_reply:before {
  content: "\e63c";
}

.stroll_not_muted:before {
  content: "\e63d";
}

.stroll_Right:before {
  content: "\e63e";
}

.stroll_cloud_download:before {
  content: "\e63f";
}

.stroll_add_square:before {
  content: "\e640";
}

.stroll_cloud_upload:before {
  content: "\e641";
}

.stroll_load:before {
  content: "\e642";
}

.stroll_sort:before {
  content: "\e643";
}

.stroll_reduc:before {
  content: "\e644";
}

.stroll_zoom_out:before {
  content: "\e645";
}

.stroll_delet:before {
  content: "\e646";
}

.stroll_pack_up:before {
  content: "\e647";
}

.stroll_zoom_in:before {
  content: "\e648";
}

.stroll_help:before {
  content: "\e649";
}

.stroll_expansion:before {
  content: "\e64a";
}

.stroll_add:before {
  content: "\e64b";
}

.stroll_edit:before {
  content: "\e64c";
}

.stroll_menu_open:before {
  content: "\e64d";
}

.stroll_warn:before {
  content: "\e64e";
}

.stroll_reduce_square:before {
  content: "\e64f";
}

.stroll_search:before {
  content: "\e650";
}

.stroll_refresh:before {
  content: "\e651";
}

.stroll_menu_stow:before {
  content: "\e652";
}

.stroll_clean:before {
  content: "\e653";
}

.stroll_eye_open:before {
  content: "\e654";
}

.stroll_deploy:before {
  content: "\e655";
}

.stroll_details:before {
  content: "\e656";
}

